[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=usb_start
Comment=
Exec=exo-open --launch TerminalEmulator bash /opt/start_usbstick.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

